<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= team.name %>
    </h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <th></th>
          <% team.team_members.each do |tm| %>
            <th scope="col"><%= tm.user.email %></th>
          <% end %>
        </thead>
        <tbody>
          <% team.team_members.reverse.each do |tm| %>
            <tr>
              <th scope="row"><%= tm.name %></th>
              <% team.team_members.each do |partner| %>
                <% if tm.id != partner.id %>
                  <td><%= partner.name %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
