<h5>
  The last two weeks
</h5>
<table class="table">
  <thead>
    <th></th>
    <% maximum_sessions = statistics.maximum_sessions %>
    <% team.members.sorted.each do |member| %>
      <th scope="col" class="text-center"><%= member.name %></th>
    <% end %> </thead>
  <tbody>
    <% team.members.sorted.each do |member| %>
      <tr>
        <th scope="row"><%= member.name %></th>
        <% team.members.sorted.each do |partner| %>
          <% if member == partner %>
            <td class="bg-light"></td>
          <% else %>
            <% sessions = statistics.number_of_sessions_for([member, partner]) %>
            <td class="text-center" style="background-color: <%= heatmap_color(sessions / maximum_sessions.to_f) %>">
              <%=  sessions %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
