<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <%= team.name %>
    </h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <th></th>
          <% team.members.each do |member| %>
            <th scope="col" class="text-center"><%= member.name %></th>
         <% end %> </thead>
        <tbody>
          <% team.members.each do |member| %>
            <tr>
              <th scope="row"><%= member.name %></th>
              <% team.members.each do |partner| %>
                <% if member == partner %>
                  <td class="bg-light"></td>
                <% else %>
                  <td class="text-center">x</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
