<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      You are not part of any teams yet
    </h5>
    <p class="card-text">Do you want to create one now?</p>
    <%= link_to "Create team", new_team_path, class: "btn btn-primary" %>
  </div>
</div>
