<% if @teams.empty? %>
  <%= render "onboarding_teams" %>
<% end %>

<% @teams.each do |team| %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= team.name %></h3>
      <%= render "add_session", team: team, statistics: team.pairing_statistics(1), user: @user %>
      <hr />
      <%= render "matrix", team: team, statistics: team.pairing_statistics(14) %>
    </div>
  </div>
<% end %>
